# Converting "Stroke Prediction Dataset" from CSV into Parquet with Pandas

## Import Dependencies

In [10]:
import csv
import os
import pandas as pd
import pyarrow.parquet as pq

## Load and Read Dataset into Pandas DataFrame

In [11]:
 #? Load File
Path = "../../../Resources/healthcare-dataset-stroke-data.csv"

#? Read the CSVs into a dataframe
stroke_df = pd.read_csv(Path)

## Show DataFrame

In [12]:
stroke_df.sample(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
1601,49152,Female,40.0,0,0,No,Private,Rural,70.45,23.3,smokes,0
2798,28108,Female,62.0,0,0,Yes,Private,Rural,82.57,27.5,Unknown,0
2414,69502,Female,52.0,1,0,Yes,Private,Urban,155.86,27.2,smokes,0
1968,2070,Male,52.0,0,0,Yes,Private,Urban,95.85,29.6,smokes,0
2605,35152,Male,10.0,0,0,No,children,Urban,76.92,15.8,Unknown,0
4633,72289,Female,44.0,0,0,Yes,Private,Rural,68.42,43.2,smokes,0
3718,39632,Female,53.0,0,0,Yes,Private,Urban,209.50,41.8,never smoked,0
1769,32452,Female,82.0,0,1,Yes,Self-employed,Rural,211.88,28.7,never smoked,0
3740,5380,Female,26.0,0,0,Yes,Private,Urban,91.35,23.8,never smoked,0
2655,26474,Female,44.0,0,0,Yes,Govt_job,Urban,97.16,33.1,Unknown,0

## What is the size of the dataset and what are the datatypes?

In [15]:
stroke_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

## Convert DataFrame to Parquet

In [14]:
stroke_df.to_parquet('stroke.parquet.gzip', compression='gzip', index=False)